@using Core
@using Core.Data
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper Core.Services.ActiveRouteTagHelper, Core
@model ListModel
@{
    var pgr = Model.Pager;
}
<!DOCTYPE HTML>
<!--
    Retrospect by TEMPLATED
    templated.co templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>@AppSettings.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="~/themes/retrospect/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/themes/retrospect/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="~/themes/retrospect/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="~/themes/retrospect/assets/css/ie9.css" /><![endif]-->
</head>
<body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="~/">@AppSettings.Title</a></h1>
        <a href="#nav">Menu</a>
    </header>
    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="~/">Home</a></li>
        </ul>
    </nav>
    <!-- Banner -->
    <section id="banner" style="background-image: url('@ViewBag.Cover') !important">
        <img src="@ViewBag.Logo" style="width: 54px" />
        <h2>@AppSettings.Title</h2>
        <p>@AppSettings.Description</p>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style1">
        <div class="inner">
            @if (Model.Posts != null)
            {
                var cnt = 0;
                foreach (var item in Model.Posts)
                {
                    var img = string.IsNullOrEmpty(item.Cover) ? AppSettings.DefaultCover : item.Cover;
                    var cont = AppSettings.UseDescInPostList ? item.Description : item.Content;
                    cnt++;
                    var artStyle = cnt % 2 == 0 ? "right" : "left";

                    <article class="feature @artStyle">
                        <span class="image"><img src="~/@img" alt="@item.Title" /></span>
                        <div class="content">
                            <h2><a href="~/posts/@item.Slug">@item.Title</a></h2>
                            @Html.Raw(Markdig.Markdown.ToHtml(cont))
                            <ul class="actions">
                                <li>
                                    <a href="~/posts/@item.Slug" class="button alt">More</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                }
            }
            @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
            {
                <ul class="pagination justify-content-center">
                    @if (pgr.ShowOlder)
                    {
                        <li class="item item-prev">
                            <a class="item-link" href="~/@pgr.LinkToOlder">
                                <i class="item-icon fa fa-angle-left"></i>
                            </a>
                        </li>
                    }
                    @if (pgr.ShowNewer)
                    {
                        <li class="item item-next">
                            <a class="item-link" href="~/@pgr.LinkToNewer">
                                <i class="item-icon fa fa-angle-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li>
                    <a href="#" class="icon fa-facebook">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-twitter">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="~/feed/rss" class="icon fa-rss-square">
                        <span class="label">Twitter</span>
                    </a>
                </li>
            </ul>
            <ul class="copyright">
                <li>&copy; @AppSettings.Title.</li>
                <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
            </ul>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="~/themes/retrospect/assets/js/jquery.min.js"></script>
    <script src="~/themes/retrospect/assets/js/skel.min.js"></script>
    <script src="~/themes/retrospect/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/themes/retrospect/assets/js/main.js"></script>
</body>
</html>